<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragnent="header">
  <ul class="nav nav-pills navbar-light bg-light justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" th:href="@{/}" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/customers}" href="#">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/contracts}" href="#">Contracts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/invoices}" href="#">Invoices</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/products}" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/subscriptions}" href="#">Subscriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"th:href="@{/phones}"  href="#">Phones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"th:href="@{/taxes}"  href="#">Taxes</a>
    </li>
  </ul>
</header>